---
import ArticleAbstract from "../atoms/ArticleAbstract.astro";
import ArticleAuthor from "../atoms/ArticleAuthor.astro";
import ArticleDate from "../atoms/ArticleDate.astro";
import ArticleTags from "../atoms/ArticleTags.astro";
import ArticleTitle from "../atoms/ArticleTitle.astro";
const { metadata } = Astro.props;
---

<a class="article-card" href=`${metadata.slug}`>
  <ArticleTitle title={metadata.data.title} />
  <ArticleAuthor author={metadata.data.author} />
  <ArticleDate date={metadata.data.date} />
  <ArticleAbstract abstract={metadata.data.abstract} />
  <ArticleTags tags={metadata.data.tags} />
</a>
